# NOTE: Requires **VS2019 16.3** or later

# New Rule Set
# Description:  

[*.md]
charset = utf-8


# Code files
[*.{cs,vb}]


dotnet_diagnostic.IDE0017.severity = none

dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0057.severity = none
dotnet_diagnostic.IDE0063.severity = none

dotnet_diagnostic.IDE0090.severity = none

dotnet_diagnostic.IDE1006.severity = none





